* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.5px;
  font-size: 18px;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;

}

a { 
  color: #333;
  text-decoration: none;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.5px;
}


.night-bg-mobile {
  background-image: url('./components/images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 14rem;
}

.dark-bg {
  background-color: #15151f;
}

.night-bg-desktop {
  background-image: url('./components/images/bg-desktop-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 16rem;
}


.circle-toggle {
  background: url("./components/images/circle.png") no-repeat;
}

.circle-toggle:hover {
  background: url("./components/images/circle-hover.png") no-repeat;
}




.cross {
  background: url("./components/images/icon-cross.svg") no-repeat;
  cursor: pointer;
}